<h2>Записаться</h2>
<p>Здесь можно записаться в Барбершоп</p>

<form action="/visit" method="POST">
<div class="form-group">
    <label>Ваше имя</label>
    <input type="text" name="username" class="form-control" placeholder="Введите ваше имя">
</div>
<div class="form-group">
    <label>Ваш телефон</label>
    <input type="text" name="phonenumber" class="form-control" placeholder="Введите номер вашего телефона">
</div>
<div class="form-group">
    <label>Когда вас ждать?</label>
    <input type="text" name="datetime" class="form-control" placeholder="Введите дату и время">
</div>
<div class="form-group">
    <label>Кто ваш мастер?</label>
    <select name="master" class="form-control">
        <option selected="true" disabled="disabled">Выберите мастера</option>
        <option>Уолтер Уайт</option>
        <option>Джесси Пинкман</option>
        <option>Гас Фринг</option>
    </select>
</div>

<button type="submit" class="btn btn-primary">Записаться</button>
</form>